.welcome-text {
    color: #b7ff5d;
    margin-bottom: 2rem;
    font-size: 4rem;
}

.chats-container,
.chat-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chats-container {
    overflow: hidden;
    width: 30%;
}

.chat-container {
    width: 100%;
    max-width: 900px;
    overflow: hidden;
}

.empty-container {
    width: 100%;
    overflow: hidden;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.username {
    color: #8ec736
}

.icon {
    font-size: large;
}

.btn-icon {
    font-size: x-large;
    padding-left: 9px !important;
    padding-right: 9px !important;
    padding-top: 2px !important;
    padding-bottom: 0px !important;
}
