.welcome-text {
    color: #a4a8ff;
    margin-bottom: 2rem;
    font-size: 4rem;
}

.chats-container,
.chat-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.chats-container {
    overflow: hidden;
    width: 30%;
}

.chat-container {
    width: 80%;
}

.username {
    color: #646cff
}

.btn-outline-light {
    border-color: #646cff;
    color: #646cff;
}
