.welcome-text {
    color: #a4a8ff;
    margin-bottom: 2rem;
    font-size: 4rem;
}

.chats-container,
.chat-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.chats-container {
    width: 30%;
}

.chat-container {
    width: 80%;
}

.username {
    color: #646cff
}

.btn-outline-light {
    border-color: #646cff;
    color: #646cff;
}

@media (max-width: 1620px) {
    .chats-container {
        width: 35%;
    }

    .chat-container {
        width: 65%;
    }
}

@media (max-width: 1395px) {
    .chats-container {
        width: 40%;
    }

    .chat-container {
        width: 60%;
    }
}

@media (max-width: 1225px) {
    .chats-container {
        width: 45%;
    }

    .chat-container {
        width: 55%;
    }
}
