.welcome-text {
    color: #a4a8ff;
    margin-bottom: 10%;
    font-size: 150px;
    min-width: max-content;
}

.text-center {
    width: max-content;
}

.centerize {
    margin-top: 130%;
}

.centerize-form {
    margin-top: 70%;
}
