.welcome-text {
    color: #a4a8ff;
    margin-bottom: 10%;
    font-size: 150px;
    min-width: max-content;
}

.text-center {
    width: max-content;
}

.centerize {
    margin-top: 100%;
}

.centerize-form {
    margin-top: 70%;
}

.info {
    color: #a4a8ff;
}

.info a {
    text-decoration: underline;
    color: #646cff;
}

.info a:hover {
    text-decoration: underline;
    color: #a4a8ff;
}
